NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://localhost:27017/antriin
JWT_SECRET=your-secret-key-min-16-chars
JWT_EXPIRES_IN=8h
MIDTRANS_SERVER_KEY=your-midtrans-server-key
MIDTRANS_CLIENT_KEY=your-midtrans-client-key
MIDTRANS_IS_PRODUCTION=false
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@antriin.com
MIDTRANS_IRIS_API_KEY=
